<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnki.mybookepubrelease">

    <application>

        <activity android:name="com.cnki.mybookepubrelease.activity.MainActivity">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name="com.koolearn.android.kooreader.KooReader"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.kooreader.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.kooreader.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="kooreader-action" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.kooreader.action.PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host=""
                    android:scheme="file" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.pdf" />
                <!--<data android:pathPattern=".*\\.doc" />-->
                <!--<data android:pathPattern=".*\\.oeb" />-->
                <!--<data android:pathPattern=".*\\.fb2" />-->
                <!--<data android:pathPattern=".*\\.fb2\\.zip" />-->
                <!--<data android:pathPattern=".*\\.mobi" />-->
                <!--<data android:pathPattern=".*\\.prc" />-->
                <!--<data android:pathPattern=".*\\.txt" />-->
                <!--<data android:pathPattern=".*\\.rtf" />-->
                <!--<data android:pathPattern=".*\\.djvu" />-->
                <!--<data android:pathPattern=".*\\.cbr" />-->
                <!--<data android:pathPattern=".*\\.cbz" />-->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host=""
                    android:mimeType="text/plain"
                    android:scheme="file" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.pdf" />
                <!--<data android:pathPattern=".*\\.doc" />-->
                <!--<data android:pathPattern=".*\\.oeb" />-->
                <!--<data android:pathPattern=".*\\.fb2" />-->
                <!--<data android:pathPattern=".*\\.mobi" />-->
                <!--<data android:pathPattern=".*\\.prc" />-->
                <!--<data android:pathPattern=".*\\.txt" />-->
                <!--<data android:pathPattern=".*\\.rtf" />-->
                <!--<data android:pathPattern=".*\\.djvu" />-->
                <!--<data android:pathPattern=".*\\.cbr" />-->
                <!--<data android:pathPattern=".*\\.cbz" />-->
            </intent-filter>
            <!--intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content" android:pathPattern=".*\\.fb2"/>
            </intent-filter-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host=""
                    android:scheme="file" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/x-pdf" />
                <!--<data android:mimeType="application/msword" />-->
                <!--<data android:mimeType="application/x-pilot-prc" />-->
                <!--<data android:mimeType="application/x-mobipocket-ebook" />-->
                <!--<data android:mimeType="application/x-fictionbook+xml" />-->
                <!--<data android:mimeType="application/x-fictionbook" />-->


                <!--<data android:mimeType="application/djvu" />-->
                <!--<data android:mimeType="application/x-djvu" />-->
                <!--<data android:mimeType="application/x-cbr" />-->
                <!--<data android:mimeType="application/x-cbz" />-->
                <!--<data android:mimeType="image/vnd.djvu" />-->
                <!--<data android:mimeType="image/x-djvu" />-->
                <!--<data android:mimeType="text/plain" />-->
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.kooreader.action.CLOSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.kooreader.action.PLUGIN_CRASH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.koolearn.android.kooreader.TOCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.koolearn.android.kooreader.preferences.PreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":preferences">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="kooreader-preferences" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.kooreader.action.PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.koolearn.klibrary.ui.android.error.BugReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="KooReader crash"
            android:process=":crash" />
        <activity
            android:name="com.koolearn.klibrary.bookmark.EditBookmarkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/KooReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.EDIT_BOOKMARK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.koolearn.klibrary.bookmark.EditStyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/KooReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.EDIT_STYLES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.cnki.mybookepubrelease.activity.PDFDatabaseActivity" />
        <activity android:name="com.cnki.mybookepubrelease.activity.PDFLocalActivity" />
        <activity android:name="com.cnki.mybookepubrelease.activity.AssetOnSDActivity" />
        <activity android:name="com.cnki.mybookepubrelease.activity.SanWeiBookRoomDetailActivity" />
        <activity android:name="com.cnki.mybookepubrelease.activity.SanWeiVedioRoomDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"  />
        <activity android:name="com.cnki.mybookepubrelease.activity.SanWeiListenBookOnPlayingActivity" />
        <activity android:name="com.cnki.mybookepubrelease.activity.SanWeiListenBookDetailActivity" />
        <activity android:name="com.cnki.mybookepubrelease.activity.SanWeiLoadListActivity" />

        <service
            android:name="com.koolearn.klibrary.libraryService.LibraryService"
            android:launchMode="singleTask"
            android:process=":libraryService">
            <intent-filter>
                <action android:name="android.kooreader.action.LIBRARY_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.koolearn.android.kooreader.config.ConfigService"
            android:launchMode="singleTask"
            android:process=":configService">
            <intent-filter>
                <action android:name="android.kooreader.action.CONFIG_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>